.record-bar{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding:0 0.2rem;
    margin-bottom: 0.15rem;
}
.record-bar-right{
    font-size: 0.18rem;
    line-height: 0.75rem;

}
.record-bar-left img{
    margin-right: 0.2rem;
}

